<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li> <%= link_to "Look Up Agent", root_path, class: 'nav-link' %> </li>
      <% if admin_signed_in? %>
        <li class="nav-item active">
          <%= link_to "View Agents", salesmen_path, class: "nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to "New Agent", new_salesman_path, class:'nav-link' %>
        </li>
      <% else %>
          <%= link_to "Log In", new_admin_session_path, class: 'nav-link' %>
      <% end %>
    </ul>
  </div>
</nav>
